<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>分享.md</key>
			<dict>
				<key>lastModification</key>
				<real>503073468.665676</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>原因有四.md</key>
			<dict>
				<key>lastModification</key>
				<real>503073444.66465098</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>原地满血复活.md</key>
			<dict>
				<key>lastModification</key>
				<real>503073468.66567397</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>成长心态【待增补】.md</key>
			<dict>
				<key>lastModification</key>
				<real>503145866.05698103</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>我要没时间啦.md</key>
			<dict>
				<key>lastModification</key>
				<real>503073468.66567302</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>演习.md</key>
			<dict>
				<key>lastModification</key>
				<real>503073468.66567302</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>百思不得其解.md</key>
			<dict>
				<key>lastModification</key>
				<real>503073468.66567397</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>融合.md</key>
			<dict>
				<key>lastModification</key>
				<real>503146202.05673701</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>48</integer>
				</dict>
			</dict>
			<key>解锁最小系统.md</key>
			<dict>
				<key>lastModification</key>
				<real>503073468.66567397</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>41</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>演习.md</string>
		</array>
		<array>
			<string>我要没时间啦.md</string>
		</array>
		<array>
			<string>百思不得其解.md</string>
		</array>
		<array>
			<string>原地满血复活.md</string>
		</array>
		<array>
			<string>解锁最小系统.md</string>
		</array>
		<array>
			<string>分享.md</string>
		</array>
		<array>
			<string>融合.md</string>
		</array>
		<array>
			<string>原因有四.md</string>
		</array>
		<array>
			<string>成长心态【待增补】.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
			<integer>49</integer>
		</dict>
	</dict>
</dict>
</plist>
