<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>为什么不用微信讨论技术.md</key>
			<dict>
				<key>lastModification</key>
				<real>503067731.501185</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>163</integer>
				</dict>
			</dict>
			<key>参与课程需要多大时间投入.md</key>
			<dict>
				<key>lastModification</key>
				<real>503067605.83229202</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>159</integer>
				</dict>
			</dict>
			<key>史上最好的教程.md</key>
			<dict>
				<key>lastModification</key>
				<real>503073623.25349301</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>176</integer>
				</dict>
			</dict>
			<key>哪个渠道提问最有效.md</key>
			<dict>
				<key>lastModification</key>
				<real>503067782.484218</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>165</integer>
				</dict>
			</dict>
			<key>如何学-拆解目的,分组练习.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066651.71553099</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>118</integer>
				</dict>
			</dict>
			<key>如何学-笨方法,手打代码!.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066672.36720902</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>129</integer>
				</dict>
			</dict>
			<key>如何学-经常回顾.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066670.85297799</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>127</integer>
				</dict>
			</dict>
			<key>学习过程信息流是怎样的.md</key>
			<dict>
				<key>lastModification</key>
				<real>503067846.66217703</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>167</integer>
				</dict>
			</dict>
			<key>开智Py旗舰班体验如何.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066548.24770099</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>99</integer>
				</dict>
			</dict>
			<key>微信群名勇猛精进啥意思.md</key>
			<dict>
				<key>lastModification</key>
				<real>503067491.09452099</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>149</integer>
				</dict>
			</dict>
			<key>本期课程的整体规划是啥.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066770.49172801</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>137</integer>
				</dict>
			</dict>
			<key>每周的任务在哪里领取.md</key>
			<dict>
				<key>lastModification</key>
				<real>503067487.784235</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>147</integer>
				</dict>
			</dict>
			<key>每周的学习强度如何.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066544.55380797</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>98</integer>
				</dict>
			</dict>
			<key>漫游指南.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068572.697267</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>173</integer>
				</dict>
			</dict>
			<key>私人教程有啥要求.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066822.16654098</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>145</integer>
				</dict>
			</dict>
			<key>课程一周的学习是怎样的.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066803.68166602</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>141</integer>
				</dict>
			</dict>
			<key>课程中的主要角色有哪些.md</key>
			<dict>
				<key>lastModification</key>
				<real>503067524.43571502</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>155</integer>
				</dict>
			</dict>
			<key>课程培养目标是什么.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066745.48445702</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>135</integer>
				</dict>
			</dict>
			<key>课程让人最受益的是啥.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066814.07371497</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>143</integer>
				</dict>
			</dict>
			<key>那些缩写都是啥意思.md</key>
			<dict>
				<key>lastModification</key>
				<real>503067518.43162501</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>153</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>漫游指南.md</string>
		</array>
		<array>
			<string>课程培养目标是什么.md</string>
		</array>
		<array>
			<string>学习过程信息流是怎样的.md</string>
		</array>
		<array>
			<string>本期课程的整体规划是啥.md</string>
		</array>
		<array>
			<string>课程一周的学习是怎样的.md</string>
		</array>
		<array>
			<string>私人教程有啥要求.md</string>
		</array>
		<array>
			<string>课程让人最受益的是啥.md</string>
		</array>
		<array>
			<string>史上最好的教程.md</string>
		</array>
		<array>
			<string>参与课程需要多大时间投入.md</string>
		</array>
		<array>
			<string>为什么不用微信讨论技术.md</string>
		</array>
		<array>
			<string>如何学-拆解目的,分组练习.md</string>
		</array>
		<array>
			<string>如何学-笨方法,手打代码!.md</string>
		</array>
		<array>
			<string>如何学-经常回顾.md</string>
		</array>
		<array>
			<string>开智Py旗舰班体验如何.md</string>
		</array>
		<array>
			<string>哪个渠道提问最有效.md</string>
		</array>
		<array>
			<string>每周的学习强度如何.md</string>
		</array>
		<array>
			<string>微信群名勇猛精进啥意思.md</string>
		</array>
		<array>
			<string>课程中的主要角色有哪些.md</string>
		</array>
		<array>
			<string>那些缩写都是啥意思.md</string>
		</array>
		<array>
			<string>每周的任务在哪里领取.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
			<integer>177</integer>
		</dict>
	</dict>
</dict>
</plist>
