<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>0M00C2py 课程培养目标是什么.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066017.92504001</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>OMOOC2py 一周的学习是怎样的.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066017.92503899</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>为什么不用微信讨论技术.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066017.92504001</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>参与课程需要多大时间投入.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066017.92504299</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>哪个渠道提问最有效.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066087.67520201</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>93</integer>
				</dict>
			</dict>
			<key>如何学-拆解目的,分组练习.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066138.78803301</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>94</integer>
				</dict>
			</dict>
			<key>如何学-笨方法,手打代码!.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066017.92503899</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>如何学-经常回顾.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066017.92503899</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>学习过程信息流是怎样的.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066017.92504001</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>开智Py旗舰班体验如何.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066017.925044</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>微信群名勇猛精进啥意思.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066017.92503899</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>本期课程的整体规划是啥.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066017.92504001</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>每周的任务在哪里领取.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066017.92503899</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>每周的学习强度如何.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066017.92924398</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>88</integer>
				</dict>
			</dict>
			<key>私人教程有啥要求.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066017.92504001</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>课程中的主要角色有哪些.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066017.92504001</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>课程让人最受益的是啥.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066017.92503899</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>87</integer>
				</dict>
			</dict>
			<key>那些缩写都是啥意思.md</key>
			<dict>
				<key>lastModification</key>
				<real>503066017.92504001</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>87</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>如何学-拆解目的,分组练习.md</string>
			<string>如何学-笨方法,手打代码!.md</string>
			<string>如何学-经常回顾.md</string>
			<string>微信群名勇猛精进啥意思.md</string>
			<string>哪个渠道提问最有效.md</string>
			<string>每周的任务在哪里领取.md</string>
			<string>课程让人最受益的是啥.md</string>
			<string>OMOOC2py 一周的学习是怎样的.md</string>
			<string>为什么不用微信讨论技术.md</string>
			<string>私人教程有啥要求.md</string>
			<string>那些缩写都是啥意思.md</string>
			<string>学习过程信息流是怎样的.md</string>
			<string>课程中的主要角色有哪些.md</string>
			<string>0M00C2py 课程培养目标是什么.md</string>
			<string>本期课程的整体规划是啥.md</string>
			<string>参与课程需要多大时间投入.md</string>
			<string>开智Py旗舰班体验如何.md</string>
			<string>每周的学习强度如何.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
			<integer>95</integer>
		</dict>
	</dict>
</dict>
</plist>
