<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>BGM 08.md</key>
			<dict>
				<key>lastModification</key>
				<real>504173518.75984102</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>170</integer>
				</dict>
			</dict>
			<key>BGM 09.md</key>
			<dict>
				<key>lastModification</key>
				<real>504173518.76011199</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>171</integer>
				</dict>
			</dict>
			<key>BGM 0w - 1.md</key>
			<dict>
				<key>lastModification</key>
				<real>504173723.79344398</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>180</integer>
				</dict>
			</dict>
			<key>BGM 0w - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>504173723.79380298</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>181</integer>
				</dict>
			</dict>
			<key>BGM 0w.md</key>
			<dict>
				<key>lastModification</key>
				<real>504172716.72497898</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>156</integer>
				</dict>
			</dict>
			<key>BGM 10.md</key>
			<dict>
				<key>lastModification</key>
				<real>504172520.24204803</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>145</integer>
				</dict>
			</dict>
			<key>BGM 10w.md</key>
			<dict>
				<key>lastModification</key>
				<real>504174497.66617101</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>205</integer>
				</dict>
			</dict>
			<key>BGM 11.md</key>
			<dict>
				<key>lastModification</key>
				<real>504172517.13360602</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>143</integer>
				</dict>
			</dict>
			<key>BGM 11w 结业.md</key>
			<dict>
				<key>lastModification</key>
				<real>504173723.79317099</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>179</integer>
				</dict>
			</dict>
			<key>BGM 11w.md</key>
			<dict>
				<key>lastModification</key>
				<real>504174626.46267402</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>212</integer>
				</dict>
			</dict>
			<key>BGM 17.md</key>
			<dict>
				<key>lastModification</key>
				<real>504172504.69496</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>133</integer>
				</dict>
			</dict>
			<key>BGM 18.md</key>
			<dict>
				<key>lastModification</key>
				<real>504172502.57620502</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>131</integer>
				</dict>
			</dict>
			<key>BGM 1w.md</key>
			<dict>
				<key>lastModification</key>
				<real>504172300.126773</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>114</integer>
				</dict>
			</dict>
			<key>BGM 21.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.68528903</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 2w.md</key>
			<dict>
				<key>lastModification</key>
				<real>504174612.84064603</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>206</integer>
				</dict>
			</dict>
			<key>BGM 3w.md</key>
			<dict>
				<key>lastModification</key>
				<real>504173866.83066797</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>185</integer>
				</dict>
			</dict>
			<key>BGM 4w.md</key>
			<dict>
				<key>lastModification</key>
				<real>504174617.67343801</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>208</integer>
				</dict>
			</dict>
			<key>BGM 5w.md</key>
			<dict>
				<key>lastModification</key>
				<real>504174033.36575902</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>189</integer>
				</dict>
			</dict>
			<key>BGM 6w.md</key>
			<dict>
				<key>lastModification</key>
				<real>504172415.82128203</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>120</integer>
				</dict>
			</dict>
			<key>BGM 7w.md</key>
			<dict>
				<key>lastModification</key>
				<real>504174077.43152797</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>193</integer>
				</dict>
			</dict>
			<key>BGM 8w.md</key>
			<dict>
				<key>lastModification</key>
				<real>504174623.09155798</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>210</integer>
				</dict>
			</dict>
			<key>BGM 9w.md</key>
			<dict>
				<key>lastModification</key>
				<real>504174487.404755</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>202</integer>
				</dict>
			</dict>
			<key>PackPre0wBGM.md</key>
			<dict>
				<key>lastModification</key>
				<real>504172231.77793801</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>110</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>PackPre0wBGM.md</string>
		</array>
		<array>
			<string>BGM 0w.md</string>
		</array>
		<array>
			<string>BGM 1w.md</string>
		</array>
		<array>
			<string>BGM 2w.md</string>
		</array>
		<array>
			<string>BGM 3w.md</string>
		</array>
		<array>
			<string>BGM 4w.md</string>
		</array>
		<array>
			<string>BGM 5w.md</string>
		</array>
		<array>
			<string>BGM 6w.md</string>
		</array>
		<array>
			<string>BGM 7w.md</string>
		</array>
		<array>
			<string>BGM 8w.md</string>
		</array>
		<array>
			<string>BGM 10w.md</string>
		</array>
		<array>
			<string>BGM 9w.md</string>
		</array>
		<array>
			<string>BGM 11w.md</string>
		</array>
		<array>
			<string>BGM 08.md</string>
		</array>
		<array>
			<string>BGM 09.md</string>
		</array>
		<array>
			<string>BGM 10.md</string>
		</array>
		<array>
			<string>BGM 11.md</string>
		</array>
		<array>
			<string>BGM 17.md</string>
		</array>
		<array>
			<string>BGM 18.md</string>
		</array>
		<array>
			<string>BGM 21.md</string>
		</array>
		<array>
			<string>BGM 0w - 1.md</string>
		</array>
		<array>
			<string>BGM 0w - 2.md</string>
		</array>
		<array>
			<string>BGM 11w 结业.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
			<integer>214</integer>
		</dict>
	</dict>
</dict>
</plist>
