<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>BGM 00.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.68528497</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 01.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.68528497</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 03.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.68528599</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 04 - GUI.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.68528599</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 05.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.68528599</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 06 - Web.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.68528599</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 07.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.68528599</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 08.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.68528599</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 10.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.68528599</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 11.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.68528599</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 12.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.68528599</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 13.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.68528599</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 14 - 组队.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.68528599</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 15.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.685287</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 16.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.685287</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 17.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.685287</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 18.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.685287</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 19 - 后期.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.685287</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 20 - 结业.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.68528903</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>BGM 21.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.68528903</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
			<key>PackPre0wBGM.md</key>
			<dict>
				<key>lastModification</key>
				<real>504170389.68528497</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>103</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>PackPre0wBGM.md</string>
		</array>
		<array>
			<string>BGM 00.md</string>
		</array>
		<array>
			<string>BGM 01.md</string>
		</array>
		<array>
			<string>BGM 03.md</string>
		</array>
		<array>
			<string>BGM 04 - GUI.md</string>
		</array>
		<array>
			<string>BGM 05.md</string>
		</array>
		<array>
			<string>BGM 06 - Web.md</string>
		</array>
		<array>
			<string>BGM 07.md</string>
		</array>
		<array>
			<string>BGM 08.md</string>
		</array>
		<array>
			<string>BGM 10.md</string>
		</array>
		<array>
			<string>BGM 11.md</string>
		</array>
		<array>
			<string>BGM 12.md</string>
		</array>
		<array>
			<string>BGM 13.md</string>
		</array>
		<array>
			<string>BGM 14 - 组队.md</string>
		</array>
		<array>
			<string>BGM 15.md</string>
		</array>
		<array>
			<string>BGM 16.md</string>
		</array>
		<array>
			<string>BGM 17.md</string>
		</array>
		<array>
			<string>BGM 18.md</string>
		</array>
		<array>
			<string>BGM 19 - 后期.md</string>
		</array>
		<array>
			<string>BGM 20 - 结业.md</string>
		</array>
		<array>
			<string>BGM 21.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
			<integer>103</integer>
		</dict>
	</dict>
</dict>
</plist>
