<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Python之旅.md</key>
			<dict>
				<key>lastModification</key>
				<real>503148738.24046999</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>63</integer>
				</dict>
			</dict>
			<key>Say Hi.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068491.73015499</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>同伴.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068491.73015499</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>启程.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068491.73015499</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>大妈角色卡.md</key>
			<dict>
				<key>lastModification</key>
				<real>503150841.601129</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>报到.md</key>
			<dict>
				<key>lastModification</key>
				<real>503147277.55412102</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>57</integer>
				</dict>
			</dict>
			<key>收藏.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068491.73015797</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>星舰团队【待增补】.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068491.73015499</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>星舰展馆.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068491.73015898</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>星舰日志.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068491.73015499</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>首席布道师.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068491.73015499</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>51</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>启程.md</string>
		</array>
		<array>
			<string>同伴.md</string>
		</array>
		<array>
			<string>报到.md</string>
		</array>
		<array>
			<string>Say Hi.md</string>
		</array>
		<array>
			<string>Python之旅.md</string>
		</array>
		<array>
			<string>首席布道师.md</string>
		</array>
		<array>
			<string>大妈角色卡.md</string>
		</array>
		<array>
			<string>星舰团队【待增补】.md</string>
		</array>
		<array>
			<string>星舰日志.md</string>
		</array>
		<array>
			<string>收藏.md</string>
		</array>
		<array>
			<string>星舰展馆.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
			<integer>72</integer>
		</dict>
	</dict>
</dict>
</plist>
