<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Python之旅.md</key>
			<dict>
				<key>lastModification</key>
				<real>503655347.69636202</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>92</integer>
				</dict>
			</dict>
			<key>Sayeahoo!.md</key>
			<dict>
				<key>lastModification</key>
				<real>503655120.42975098</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>85</integer>
				</dict>
			</dict>
			<key>同伴.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068491.73015499</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>启程.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068491.73015499</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>大妈角色卡.md</key>
			<dict>
				<key>lastModification</key>
				<real>503150841.601129</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>报到.md</key>
			<dict>
				<key>lastModification</key>
				<real>503147277.55412102</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>57</integer>
				</dict>
			</dict>
			<key>收藏.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068491.73015797</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>星舰团队 - 司令部.md</key>
			<dict>
				<key>lastModification</key>
				<real>503654750.874246</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>77</integer>
				</dict>
			</dict>
			<key>星舰团队 - 驾驶舱.md</key>
			<dict>
				<key>lastModification</key>
				<real>503654730.88783997</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>73</integer>
				</dict>
			</dict>
			<key>星舰展馆.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068491.73015898</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>星舰日志.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068491.73015499</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>是也乎.md</key>
			<dict>
				<key>lastModification</key>
				<real>503655368.85263199</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>93</integer>
				</dict>
			</dict>
			<key>首席布道师 - CEO(Chief Evangelist Office).md</key>
			<dict>
				<key>lastModification</key>
				<real>503655002.33530998</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>83</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>启程.md</string>
		</array>
		<array>
			<string>同伴.md</string>
		</array>
		<array>
			<string>报到.md</string>
		</array>
		<array>
			<string>Python之旅.md</string>
		</array>
		<array>
			<string>Sayeahoo!.md</string>
		</array>
		<array>
			<string>是也乎.md</string>
		</array>
		<array>
			<string>首席布道师 - CEO(Chief Evangelist Office).md</string>
		</array>
		<array>
			<string>大妈角色卡.md</string>
		</array>
		<array>
			<string>星舰团队 - 驾驶舱.md</string>
		</array>
		<array>
			<string>星舰团队 - 司令部.md</string>
		</array>
		<array>
			<string>星舰日志.md</string>
		</array>
		<array>
			<string>收藏.md</string>
		</array>
		<array>
			<string>星舰展馆.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
			<integer>94</integer>
		</dict>
	</dict>
</dict>
</plist>
