<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>PackBGM</string>
		<string>PackPre0wPractice</string>
		<string>PackPre0wStart</string>
		<string>PackPre0wFreshen</string>
		<string>PackPre0wFreshman</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>PackBGM</key>
			<dict>
				<key>lastModification</key>
				<real>504170234.81142998</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>PackPre0wFreshen</key>
			<dict>
				<key>lastModification</key>
				<real>503067982.53160399</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>PackPre0wFreshman</key>
			<dict>
				<key>lastModification</key>
				<real>503066124.31358701</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>PackPre0wPractice</key>
			<dict>
				<key>lastModification</key>
				<real>503068604.81222099</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>PackPre0wStart</key>
			<dict>
				<key>lastModification</key>
				<real>503068211.796866</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>11</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>Card02-Guide.md</key>
			<dict>
				<key>lastModification</key>
				<real>503065898.147003</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Card03-Practice.md</key>
			<dict>
				<key>lastModification</key>
				<real>503065898.14700401</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>FeedBackRethinking.md</key>
			<dict>
				<key>lastModification</key>
				<real>503065898.14700198</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>PackPre.md</key>
			<dict>
				<key>lastModification</key>
				<real>503065898.14700502</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>PackPre0wBGM.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>504170242.399562</real>
				<key>lastModification</key>
				<real>504170242.399562</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>PackPre0wFreshman.md</key>
			<dict>
				<key>lastModification</key>
				<real>503065898.14700699</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Thinking.md</key>
			<dict>
				<key>lastModification</key>
				<real>503065898.147003</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>UdacityCodeReviewStyle.md</key>
			<dict>
				<key>lastModification</key>
				<real>503065898.14700103</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>python-class.md</key>
			<dict>
				<key>lastModification</key>
				<real>503065898.14700103</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>python-class.md</string>
		</array>
		<array>
			<string>UdacityCodeReviewStyle.md</string>
		</array>
		<array>
			<string>FeedBackRethinking.md</string>
		</array>
		<array>
			<string>Thinking.md</string>
		</array>
		<array>
			<string>Card02-Guide.md</string>
		</array>
		<array>
			<string>Card03-Practice.md</string>
		</array>
		<array>
			<string>PackPre.md</string>
		</array>
		<array>
			<string>PackPre0wBGM.md</string>
		</array>
		<array>
			<string>PackPre0wFreshman.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
			<integer>17</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
			<integer>7</integer>
		</dict>
	</dict>
</dict>
</plist>
