<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>24K纯小白如何学编程.md</key>
			<dict>
				<key>lastModification</key>
				<real>503152639.16971099</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>158</integer>
				</dict>
			</dict>
			<key>为什么你要学编程.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068499.36752498</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>130</integer>
				</dict>
			</dict>
			<key>你为啥学不会编程.md</key>
			<dict>
				<key>lastModification</key>
				<real>503152455.05120403</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>144</integer>
				</dict>
			</dict>
			<key>你学编程到底学会了什么.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068499.36752099</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>130</integer>
				</dict>
			</dict>
			<key>写代码也可以练习写作.md</key>
			<dict>
				<key>lastModification</key>
				<real>503152464.40496898</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>146</integer>
				</dict>
			</dict>
			<key>别当一个蠢游客!.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068499.36752301</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>130</integer>
				</dict>
			</dict>
			<key>反转教学的思考.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068499.36752301</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>130</integer>
				</dict>
			</dict>
			<key>坚持和方法,哪个重要.md</key>
			<dict>
				<key>lastModification</key>
				<real>503152781.15965402</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>168</integer>
				</dict>
			</dict>
			<key>大蛇丸通灵之术-Python.md</key>
			<dict>
				<key>lastModification</key>
				<real>503151151.78314501</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>132</integer>
				</dict>
			</dict>
			<key>女性能学会编程吗.md</key>
			<dict>
				<key>lastModification</key>
				<real>503152535.83151603</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>152</integer>
				</dict>
			</dict>
			<key>妹子叫我去修电脑咋办.md</key>
			<dict>
				<key>lastModification</key>
				<real>503152559.72051901</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>154</integer>
				</dict>
			</dict>
			<key>学编程能有钱景吗.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068499.36752403</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>130</integer>
				</dict>
			</dict>
			<key>学编程被人指指点点怎么办.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068499.367522</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>130</integer>
				</dict>
			</dict>
			<key>懂-如果-那么-计划的人,都当领导了.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068499.367522</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>130</integer>
				</dict>
			</dict>
			<key>我-岁了,还可以学编程吗.md</key>
			<dict>
				<key>lastModification</key>
				<real>503152847.53438598</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>170</integer>
				</dict>
			</dict>
			<key>我有拖延症,如何学编程.md</key>
			<dict>
				<key>lastModification</key>
				<real>503152589.153476</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>156</integer>
				</dict>
			</dict>
			<key>我能成为绝世coder吗.md</key>
			<dict>
				<key>lastModification</key>
				<real>503152758.61215901</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>164</integer>
				</dict>
			</dict>
			<key>有人说我是野生程序员,咋办.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068499.36752099</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>130</integer>
				</dict>
			</dict>
			<key>真能在三个月内学会编程吗.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068499.36752099</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>130</integer>
				</dict>
			</dict>
			<key>编程可以帮我找妹子吗.md</key>
			<dict>
				<key>lastModification</key>
				<real>503152414.49763602</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>142</integer>
				</dict>
			</dict>
			<key>编程真的可以改变世界.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068499.367522</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>130</integer>
				</dict>
			</dict>
			<key>编程能激发我的潜能吗.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068499.36752099</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>130</integer>
				</dict>
			</dict>
			<key>老猿能分享下编程经验吗.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068499.36752099</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>130</integer>
				</dict>
			</dict>
			<key>身边无人编程,好孤单!.md</key>
			<dict>
				<key>lastModification</key>
				<real>503152390.23925</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>138</integer>
				</dict>
			</dict>
			<key>都交学费了,就尽管学吧!.md</key>
			<dict>
				<key>lastModification</key>
				<real>503068499.36752099</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>130</integer>
				</dict>
			</dict>
			<key>重要的是你用编程做的事情!.md</key>
			<dict>
				<key>lastModification</key>
				<real>503152768.51532203</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>166</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>坚持和方法,哪个重要.md</string>
		</array>
		<array>
			<string>身边无人编程,好孤单!.md</string>
		</array>
		<array>
			<string>女性能学会编程吗.md</string>
		</array>
		<array>
			<string>我-岁了,还可以学编程吗.md</string>
		</array>
		<array>
			<string>编程可以帮我找妹子吗.md</string>
		</array>
		<array>
			<string>妹子叫我去修电脑咋办.md</string>
		</array>
		<array>
			<string>你为啥学不会编程.md</string>
		</array>
		<array>
			<string>写代码也可以练习写作.md</string>
		</array>
		<array>
			<string>重要的是你用编程做的事情!.md</string>
		</array>
		<array>
			<string>24K纯小白如何学编程.md</string>
		</array>
		<array>
			<string>我能成为绝世coder吗.md</string>
		</array>
		<array>
			<string>我有拖延症,如何学编程.md</string>
		</array>
		<array>
			<string>都交学费了,就尽管学吧!.md</string>
		</array>
		<array>
			<string>老猿能分享下编程经验吗.md</string>
		</array>
		<array>
			<string>编程能激发我的潜能吗.md</string>
		</array>
		<array>
			<string>你学编程到底学会了什么.md</string>
		</array>
		<array>
			<string>有人说我是野生程序员,咋办.md</string>
		</array>
		<array>
			<string>真能在三个月内学会编程吗.md</string>
		</array>
		<array>
			<string>学编程被人指指点点怎么办.md</string>
		</array>
		<array>
			<string>编程真的可以改变世界.md</string>
		</array>
		<array>
			<string>懂-如果-那么-计划的人,都当领导了.md</string>
		</array>
		<array>
			<string>反转教学的思考.md</string>
		</array>
		<array>
			<string>别当一个蠢游客!.md</string>
		</array>
		<array>
			<string>大蛇丸通灵之术-Python.md</string>
		</array>
		<array>
			<string>学编程能有钱景吗.md</string>
		</array>
		<array>
			<string>为什么你要学编程.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
			<integer>170</integer>
		</dict>
	</dict>
</dict>
</plist>
